#!/usr/bin/env bash

#for test in $test_plan.get_tests():
<%= '#####Start Test#####' %>
mkdir $test.get_subdir()
pushd $test.get_subdir()

echo "$test.to_yaml()" > test.yaml

skel template -y test.yaml -t ../writer.yaml.in -o writer.yaml
skel replay writer -f -y writer.yaml
popd
<%= '#####End Test#####' %>

#end for
