<?xml version="1.0"?>
<adios-config host-language="${bpy.get_language()}">
  <adios-group name="${bpy.get_group_name()}" coordination-communicator="comm">

    #for v in $bpy.get_vars():
        #if $v.has_global_bounds():
            #for sv in $v.get_offset_vars()
                #if $bpy.get_language() == 'Fortran'
      <var name="$sv" type="integer*4" dimensions="" />
                #else
      <var name="$sv" type="int" dimensions="" />
                #end if
            #end for
        #end if
    #end for

    #for v in $bpy.get_vars():
  #if $v.has_global_bounds() #  <global-bounds dimensions="$v.get_global_dims_str()" offsets="$v.get_offset_vars_str()"> #end if
      <var name="$v.get_name()" type="$v.get_lang_type($bpy.get_language() )" dimensions="$v.get_dims_str()" />
  #if $v.has_global_bounds() #  </global-bounds> #end if
    #end for
  </adios-group>

  <method group="${bpy.get_group_name()}" method="${bpy.get_method()}" />
  <buffer max-size-MB="10" />
</adios-config>



