<?xml version="1.0"?>
<adios-config host-language="Fortran">
<adios-group name="restart" coordination-communicator="icomm">
  <var name="icomm" type="integer"/>
  <var name="sml_istep" type="integer"/>
  <var name="sml_time" type="double"/>
  <var name="maxnum" gname="sp%maxnum" type="integer"/>

  <var name="inum"    gname="sp%num" type="integer"/>
  <var name="inphase" gname="sp%nphase" type="integer"  />
  <var name="imaxgid" gname="sp%maxgid" type="integer"/>
  <var name="igid"    gname="sp%gid" type="integer*8" dimensions="maxnum"/>
  <var name="iphase"  gname="sp%phase" type="double" dimensions="inphase,maxnum"/>

  <gwrite src="  if(sml_electron_on==1) then"/>
  <gwrite src="  sp=>ptl%elec"/>
  <var name="enum"    gname="sp%num" type="integer"/>
  <var name="emaxgid" gname="sp%maxgid" type="integer"/>
  <var name="enphase" gname="sp%nphase" type="integer"/>
  <var name="egid"    gname="sp%gid" type="integer*8" dimensions="enum"/>
  <var name="ephase"  gname="sp%phase" type="double" dimensions="enphase,enum"/>
  <gwrite src="  endif"/>

</adios-group>

<adios-group name="diagnosis.mesh">
  <var name="n_n" type="integer"  />
  <var name="n_t" type="integer"  />
  <var name="n_psi" type="integer"  />
  <var name="values" gname="coord" path="/coordinates/" type="real*8" dimensions="2,n_n"/>
  <var name="node_connect_list" gname="nodeid" path="cell_set[0]" type="integer" dimensions="3,n_t" />
  <var name="nextnode" gname="nextn" type="integer" dimensions="n_n"/>
  <var name="itheta0" gname="n_itheta0" type="integer" dimensions="n_psi"/>
  <attribute name="nnodes" path="/" var="n_n"/>
  <attribute name="nspace" path="/" value="2" />
  <attribute name="ncell_sets" path="/" value="1" />
  <attribute name="XP_CLASS" path="/" value="Mesh" />
  <attribute name="cell_name" path="/cell_set[0]/" value="Tri" />
</adios-group>

<adios-group name="diagnosis.fieldi">
  <var name="n_n" type="integer"/>
  <var name="nspace" type="integer"/>
  <var name="istep" type="integer"/>
  <var name="values" gname="weight" path="/node_data[0]/" type="double" dimensions="n_n"/>

  <attribute name="timestep" path="/" var="istep" type="integer"/>
  <attribute name="nspace" path="/" var="nspace" type="integer"/>
  <attribute name="nnodes" path="/" var="n_n" type="integer"/>
  <attribute name="nnode_data" path="/" value="6" />
  <attribute name="XP_CLASS" path="/" value="Node_Data" />

  <attribute name="veclen" path="/node_data[0]/" value="1" />
  <attribute name="labels" path="/node_data[0]/" value="ion__density(2D)" />
  <attribute name="units" path="/node_data[0]/" value="m^_3"  />
</adios-group>

<adios-group name="diagnosis.fieldi.1">
  <var name="n_n" type="integer"  />
  <var name="values" gname="flow" path="/node_data[1]/" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[1]/" value="1" />
  <attribute name="labels" path="/node_data[1]/" value="ion__v_par(2D)" />
  <attribute name="units" path="/node_data[1]/" value="m/s" />
</adios-group>

<adios-group name="diagnosis.fieldi.2">
  <var name="n_n" type="integer"  />
  <var name="values" gname="flower" path="/node_data[2]" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[2]/" value="1" />
  <attribute name="labels" path="/node_data[2]/" value="ion__v_ExB-R(2D)" />
  <attribute name="units" path="/node_data[2]/" value="m/s" />
</adios-group>

<adios-group name="diagnosis.fieldi.3">
  <var name="n_n" type="integer"  />
  <var name="values" gname="flowez" path="/node_data[3]" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[3]/" value="1" />
  <attribute name="labels" path="/node_data[3]/" value="ion__v_ExB-Z(2D)" />
  <attribute name="units" path="/node_data[3]/" value="m/s" />
</adios-group>

<adios-group name="diagnosis.fieldi.4">
  <var name="n_n" type="integer"  />
  <var name="values" gname="enpa" path="/node_data[4]" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[4]/" value="1" />
  <attribute name="labels" path="/node_data[4]/" value="ion__T_par-Z(2D)" />
  <attribute name="units" path="/node_data[4]/" value="KeV" />
</adios-group>

<adios-group name="diagnosis.fieldi.5">
  <var name="n_n" type="integer"  />
  <var name="values" gname="enpe" path="/node_data[5]" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[5]/" value="1" />
  <attribute name="labels" path="/node_data[5]/" value="ion__T_perp(2D)" />
  <attribute name="units" path="/node_data[5]/" value="KeV" />
</adios-group>

<adios-group name="fort.tracer">
  <var name="ncol_tracer" type="integer"  />
  <var name="tracerdata" type="double" dimensions="ncol_tracer"/>
</adios-group>
<adios-group name="fort.gam">
  <var name="timestep" gname="istep" type="integer"/>
  <var name="ncol_gam" type="integer"  />
  <var name="gam" type="double" dimensions="ncol_gam"/>
  <var name="ncol_fenergy" type="integer"  />
  <var name="fenergy" type="double" dimensions="ncol_fenergy"/>
</adios-group>
<adios-group name="fort.pot_zero">
   <var name="grid%npsi" type="integer"/>
   <var name="r" type="double" dimensions="grid%npsi"/>
   <var name="phi00" type="double" dimensions="grid%npsi"/>
   <var name="den00" type="double" dimensions="grid%npsi"/>
   <var name="phip00" type="double" dimensions="grid%npsi"/>
   <var name="grid%psi" gname="temppsi" type="double" dimensions="grid%npsi"/>
</adios-group>
<adios-group name="fort.used.eq">
   <var name="eq_mr" type="integer"/>
   <var name="eq_mz" type="integer"/>
   <var name="eq_mpsi" type="integer"/>
   <var name="eq_mr" type="integer"/>
   <var name="eq_min_r" type="double"/>
   <var name="eq_max_r" type="double"/>
   <var name="eq_min_z" type="double"/>
   <var name="eq_max_z" type="double"/>
   <var name="eq_axis_r" type="double"/>
   <var name="eq_axis_z" type="double"/>
   <var name="eq_axis_b" type="double"/>
   <var name="eq_x_psi" type="double"/>
   <var name="eq_x_r" type="double"/>
   <var name="eq_x_z" type="double"/>
   <var name="eq_psi_grid" type="double" dimensions="eq_mpsi"/>
   <var name="eq_I" type="double" dimensions="eq_mpsi"/>
   <var name="eq_psi_rz" type="double" dimensions="eq_mr,eq_mz"/>
</adios-group>
<adios-group name="fort.700">
  <var name="np" type="integer"/>
  <var name="psi_eqxpsi" gname="temp" type="double" dimensions="np"/>
  <var name="pot" type="double" dimensions="np"/>
</adios-group>
<adios-group name="fort.60">
  <var name="N" type="integer"/>
  <var name="rvec" type="double" dimensions="N"/>
  <var name="psi_eq_x_psi" type="double" dimensions="N"/>
  <var name="dpdr" type="double" dimensions="N"/>
  <var name="abs_bphi" type="double" dimensions="N"/>
</adios-group>
<adios-group name="fort.30">
  <var name="diag_flow_npsi" type="integer"/>
  <var name="NN2" type="integer"/>
  <var name="timestamp" gname="sml_time/sml_tran" type="double" copy-on-write="yes"/>
  <var name="netcdf_flow" type="double" dimensions="NN2,diag_flow_npsi"/>
</adios-group>
<adios-group name="fort.40">
  <var name="col_2_m" type="integer"/>
  <var name="col_2_dp" type="integer"/>
  <var name="psi" type="double" dimensions="col_2_m,col_2_dp"/>
  <var name="idx" type="integer" dimensions="col_2_m,col_2_dp"/>
  <var name="col_2_dv2_sum" type="double" dimensions="col_2_m,col_2_dp"/>
  <var name="col_2_dvp_sum" type="double" dimensions="col_2_m,col_2_dp"/>
</adios-group>
<adios-group name="fort.50">
  <var name="tau" gname="(istep-1)*sml_dt/sml_tran" copy-on-write="yes" type="double"/>
  <var name="diag_avg_npsi" type="integer"/>
  <var name="NA" type="integer"/>
  <var name="NN" type="integer"/>
  <var name="psi_eq_x_psi" type="double" dimensions="diag_avg_npsi"/>
  <!-- var name="flux_total" gname="flux_total(:,2:NN)" type="integer" dimensions="diag_avg_npsi,NN" copy-on-write="yes"/ -->
  <var name="composite_value" type="double" dimensions="diag_avg_npsi,NA"/>
</adios-group>
<adios-group name="fort.103">
  <var name="bnc_nr" type="integer"/>
  <var name="bnc_r_dr" type="double" dimensions="bnc_nr"/>
  <var name="bnc_z_psi_min" type="double" dimensions="bnc_nr"/>
</adios-group>

<adios-group name="fort.61">
  <var name="N" type="integer"/>
  <var name="psi_eq_x_psi" type="double" dimensions="N"/>
  <var name="Epoten" type="double" dimensions="N"/>
  <var name="Er_minor_radial" type="double" dimensions="N"/>
  <var name="er_arr" type="double" dimensions="N"/>
  <var name="ez_arr" type="double" dimensions="N"/>
  <var name="ephi_arr" type="double" dimensions="N"/>
  <var name="r_arr" type="double" dimensions="N"/>
  <var name="ion_temp" type="double" dimensions="N"/>
  <var name="e_temp" type="double" dimensions="N"/>
  <var name="back_den" type="double" dimensions="N"/>
  <var name="impurity_den" type="double" dimensions="N"/>
</adios-group>

<adios-group name="fort.300.0">
  <var name="num" type="integer"/>
  <var name="energy" type="double" dimensions="num"/>
  <var name="pitch" type="double" dimensions="num"/>
  <var name="mass" type="double" dimensions="num"/>
  <var name="region" type="double" dimensions="num"/>
  <var name="ptl_index" type="double" dimensions="num"/>
</adios-group>
<adios-group name="fort.300.1">
  <var name="num" type="integer"/>
  <var name="K_l" type="double" dimensions="num"/>
  <var name="K_perp" type="double" dimensions="num"/>
  <var name="energy" type="double" dimensions="num"/>
  <var name="pitch" type="double" dimensions="num"/>
  <var name="ptl_index" type="double" dimensions="num"/>
</adios-group>

<adios-group name="fort.ef">
  <var name="nnode" gname="grid%nnode" type="integer"/>
  <var name="x1" type="double" gname="grid%x(1,:)" dimensions="nnode" copy-on-write="yes"/>
  <var name="x2" type="double" gname="grid%x(2,:)" dimensions="nnode" copy-on-write="yes"/>
  <var name="xE_para" type="double" gname="psn%dpot(:,iphi)" dimensions="nnode" copy-on-write="yes"/>
  <var name="dpot" type="double" gname="psn%E_para(:,iphi)" dimensions="nnode" copy-on-write="yes"/>
</adios-group>

<adios-group name="diagnosis.particle">
  <var name="pnum" type="integer"/>
  <var name="sml_time" type="double"/>
  <var name="gid" gname="sp%gid(1:pnum)" type="integer" copy-on-write="yes"/>
  <var name="position_r" gname="diag_ptl_data1" dimensions="pnum" copy-on-write="yes" type="double"/> 
  <var name="position_z" gname="diag_ptl_data2" dimensions="pnum" copy-on-write="yes" type="double"/>
  <var name="vpar" gname="diag_ptl_data1" dimensions="pnum" copy-on-write="yes" type="double"/> 
  <var name="vperp" gname="diag_ptl_data2" dimensions="pnum" type="double"/> 
  <var name="weight" gname="diag_ptl_data1" dimensions="pnum" type="double"/> 
</adios-group>
<adios-group name="diagnosis.particleweight">
  <var name="diag_flow_npsi" type="integer"/>
  <var name="psi_arr" type="double" dimensions="diag_flow_npsi"/>
  <var name="pw_arr" type="double" dimensions="diag_flow_npsi"/>
</adios-group>

<adios-group name="diagnosis.flux">
  <var name="samples" type="integer" gname="diag_avg_npsi"/>
  <var name="istep" type="integer" gname="istep/diag_avg_outperiod"/>

  <gwrite src="if(istep==diag_avg_outperiod) then"/>
  <var name="psi" gname="psi1" type="double" dimensions="samples"/>
  <gwrite src="endif"/>
  <var name="time" type="double" gname="simtime(1)" copy-on-write="yes"/> 
  <attribute name="units"  path="time" value="transit times"/>

  <var name="ion__radial_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,2,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__radial_flux(avg)" value="psi/s" />

  <var name="ion__radial_E_para_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,3,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__radial_E_para_flux(avg)" value="J psi/s" />

  <var name="ion__radial_E_perp_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,4,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__radial_E_perp_flux(avg)" value="J psi/s" />

  <var name="ion__parallel_flow(avg)" type="double" dimensions="samples" gname="flux_total(:,5,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_flow(avg)" value="m/s" />

  <var name="ion__parallel_mean_E(avg)" type="double" dimensions="samples" gname="flux_total(:,6,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_mean_E(avg)" value="eV" />

  <var name="ion__perp_temperature(avg)" type="double" dimensions="samples" gname="flux_total(:,7,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__perp_temperature(avg)" value="eV" />

  <var name="ion__v_r_v_para_corel(avg)" type="double" dimensions="samples" gname="flux_total(:,8,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__v_r_v_para_corel(avg)" value="psi m /s^2" />

  <var name="ion__average_gradpsi_sqr(avg)" type="double" dimensions="samples" gname="flux_total(:,9,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__average_gradpsi_sqr(avg)" value="psi^2/m^2" />

  <var name="ion__full_weight(avg)" type="double" dimensions="samples" gname="flux_total(:,10,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__full_weight(avg)" value="Number" />

  <var name="ion__density(avg)" type="double" dimensions="samples" gname="composite_value(:,11,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__density(avg)" value="m^-3" />

  <var name="ion__total_E_flux(avg)" type="double" dimensions="samples" gname="composite_value(:,12,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__total_E_flux(avg)" value="J psi/s" />

  <var name="ion__grad_T(avg)" type="double" dimensions="samples" gname="composite_value(:,13,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__grad_T(avg)" value="J/psi" />

  <var name="ion__Thermal_conductivity(psi:avg)" type="double" dimensions="samples" gname="composite_value(:,14,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__Thermal_conductivity(psi:avg)" value="psi^2/s" />

  <var name="ion__Thermal_conductivity(m:avg)" type="double" dimensions="samples" gname="composite_value(:,15,1)" copy-on-write="yes"/>
  <attribute name="units" path="ion__Thermal_conductivity(m:avg)" value="m^2/s" />

  <gwrite src="if (sml_electron_on==1) then"/>
  <var name="elec_radial_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,2,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_radial_flux(avg)" value="psi/s" />

  <var name="elec_radial_E_para_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,3,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_radial_E_para_flux(avg)" value="J psi/s" />

  <var name="elec_radial_E_perp_flux(avg)" type="double" dimensions="samples" gname="flux_total(:,4,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_radial_E_perp_flux(avg)" value="J psi/s" />

  <var name="elec_parallel_flow(avg)" type="double" dimensions="samples" gname="flux_total(:,5,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_flow(avg)" value="m/s" />

  <var name="elec_parallel_mean_E(avg)" type="double" dimensions="samples" gname="flux_total(:,6,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_mean_E(avg)" value="eV" />

  <var name="elec_perp_temperature(avg)" type="double" dimensions="samples" gname="flux_total(:,7,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_perp_temperature(avg)" value="eV" />

  <var name="elec_v_r_v_para_corel(avg)" type="double" dimensions="samples" gname="flux_total(:,8,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_v_r_v_para_corel(avg)" value="psi m /s^2" />

  <var name="elec_average_gradpsi_sqr(avg)" type="double" dimensions="samples" gname="flux_total(:,9,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_average_gradpsi_sqr(avg)" value="psi^2/m^2" />

  <var name="elec_full_weight(avg)" type="double" dimensions="samples" gname="flux_total(:,10,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_full_weight(avg)" value="Number" />

  <var name="elec_density(avg)" type="double" dimensions="samples" gname="composite_value(:,11,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_density(avg)" value="m^-3" />

  <var name="elec_total_E_flux(avg)" type="double" dimensions="samples" gname="composite_value(:,12,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_total_E_flux(avg)" value="J psi/s" />

  <var name="elec_grad_T(avg)" type="double" dimensions="samples" gname="composite_value(:,13,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_grad_T(avg)" value="J/psi" />

  <var name="elec_Thermal_conductivity(psi:avg)" type="double" dimensions="samples" gname="composite_value(:,14,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_Thermal_conductivity(psi:avg)" value="psi^2/s" />

  <var name="elec_Thermal_conductivity(m:avg)" type="double" dimensions="samples" gname="composite_value(:,15,2)" copy-on-write="yes"/>
  <attribute name="units" path="elec_Thermal_conductivity(m:avg)" value="m^2/s" />
  <gwrite src="endif"/>
</adios-group>

<adios-group name="diagnosis.flow">
  <var name="samples" gname="diag_flow_npsi" type="integer"  />
  <var name="istep" gname="istep/diag_flow_period" type="integer" copy-on-write="yes"/>

  <attribute name="running" path="/"  value="true"/>
  <gwrite src="if(istep==diag_flow_period) then"/>
      <var name="psi" type="double" dimensions="samples"/>
  <gwrite src="endif"/>
  <var name="time" gname="simtime(1)" type="double" copy-on-write="yes"/> 
  <attribute name="units"  path="time" value="transit times"/>

  <var name="ion__density(df)" gname="netcdf_flow(:,2)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__density(df)" value="m^-3" />

  <var name="ion__toroidal_flow(df)" gname="netcdf_flow(:,3)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__toroidal_flow(df)" value="m/s" />

  <var name="ion__poloidal_flow(df)" gname="netcdf_flow(:,4)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__poloidal_flow(df)" value="m/s" />

  <var name="ion__parallel_flow(df)" gname="netcdf_flow(:,5)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_flow(df)" value="m/s" />

  <var name="ion__poloidal_comp._of_ExB(df)" gname="netcdf_flow(:,6)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__poloidal_comp._of_ExB(df)" value="m/s" />

  <var name="ion__Radial_flow_times_grad_psi(df)" gname="netcdf_flow(:,7)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__Radial_flow_times_grad_psi(df)" value="A.U." />

  <var name="ion__Radial_current_density(df)" gname="netcdf_flow(:,8)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__Radial_current_density(df)" value="A.U." />

  <var name="ion__parallel_mean_energy(df)" gname="netcdf_flow(:,9)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_mean_energy(df)" value="KeV" />

  <var name="ion__perp._temperature(df)" gname="netcdf_flow(:,10)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__perp._temperature(df)" value="KeV" />

  <var name="ion__parallel_temperature(df)" gname="netcdf_flow(:,11)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_temperature(df)" value="KeV" />

  <var name="ion__v_para_times_B(df)" gname="netcdf_flow(:,12)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__v_para_times_B(df)" value="mT/s" />

  <var name="ion__density" gname="netcdf_flow(:,13)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__density" value="m^-3" />

  <var name="ion__toroidal_flow" gname="netcdf_flow(:,14)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__toroidal_flow" value="m/s" />

  <var name="ion__poloidal_flow" gname="netcdf_flow(:,15)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__poloidal_flow" value="m/s" />

  <var name="ion__parallel_flow" gname="netcdf_flow(:,16)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_flow" value="m/s" />

  <var name="ion__poloidal_comp._of_ExB" gname="netcdf_flow(:,17)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__poloidal_comp._of_ExB" value="m/s" />

  <var name="ion__Radial_flow_times_grad_psi" gname="netcdf_flow(:,18)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__Radial_flow_times_grad_psi" value="A.U." />

  <var name="ion__Radial_current_density" gname="netcdf_flow(:,19)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__Radial_current_density" value="A.U." />
  
  <var name="ion__v_para_times_B" gname="netcdf_flow(:,20)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__v_para_times_B" value="mT/s" />

  <var name="ion__parallel_mean_energy" gname="netcdf_flow(:,21)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_mean_energy" value="KeV" />

  <var name="ion__perp._temperature" gname="netcdf_flow(:,22)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__perp._temperature" value="KeV" />

  <var name="ion__parallel_temperature" gname="netcdf_flow(:,23)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__parallel_temperature" value="KeV" />

  <var name="ion__delta-f_ratio" gname="netcdf_flow(:,24)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__delta-f_ratio" value="Unitless" />

  <var name="ion__flow_shell_volume" gname="netcdf_flow(:,25)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="ion__flow_shell_volume" value="m^3" />

  <gwrite src="if (sml_electron_on==1) then"/>
  <var name="elec_density(df)" gname="netcdf_flow(:,2)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_density(df)" value="m^-3" />

  <var name="elec_toroidal_flow(df)" gname="netcdf_flow(:,3)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_toroidal_flow(df)" value="m/s" />

  <var name="elec_poloidal_flow(df)" gname="netcdf_flow(:,4)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_poloidal_flow(df)" value="m/s" />

  <var name="elec_parallel_flow(df)" gname="netcdf_flow(:,5)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_flow(df)" value="m/s" />

  <var name="elec_poloidal_comp._of_ExB(df)" gname="netcdf_flow(:,6)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_poloidal_comp._of_ExB(df)" value="m/s" />

  <var name="elec_Radial_flow_times_grad_psi(df)" gname="netcdf_flow(:,7)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_Radial_flow_times_grad_psi(df)" value="A.U." />

  <var name="elec_Radial_current_density(df)" gname="netcdf_flow(:,8)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_Radial_current_density(df)" value="A.U." />

  <var name="elec_v_para_times_B(df)" gname="netcdf_flow(:,9)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_v_para_times_B(df)" value="mT/s" />

  <var name="elec_parallel_mean_energy(df)" gname="netcdf_flow(:,10)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_mean_energy(df)" value="KeV" />

  <var name="elec_perp._temperature(df)" gname="netcdf_flow(:,11)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_perp._temperature(df)" value="KeV" />

  <var name="elec_parallel_temperature(df)" gname="netcdf_flow(:,12)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_temperature(df)" value="KeV" />

  <var name="elec_density" gname="netcdf_flow(:,13)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_density" value="m^-3" />

  <var name="elec_toroidal_flow" gname="netcdf_flow(:,14)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_toroidal_flow" value="m/s" />

  <var name="elec_poloidal_flow" gname="netcdf_flow(:,15)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_poloidal_flow" value="m/s" />

  <var name="elec_parallel_flow" gname="netcdf_flow(:,16)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_flow" value="m/s" />

  <var name="elec_poloidal_comp._of_ExB" gname="netcdf_flow(:,17)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_poloidal_comp._of_ExB" value="m/s" />

  <var name="elec_Radial_flow_times_grad_psi" gname="netcdf_flow(:,18)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_Radial_flow_times_grad_psi" value="A.U." />

  <var name="elec_Radial_current_density" gname="netcdf_flow(:,19)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_Radial_current_density" value="A.U." />

  <var name="elec_v_para_times_B" gname="netcdf_flow(:,20)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_v_para_times_B" value="mT/s"/>

  <var name="elec_parallel_mean_energy" gname="netcdf_flow(:,21)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_mean_energy" value="KeV" />

  <var name="elec_perp._temperature" gname="netcdf_flow(:,22)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_perp._temperature" value="KeV" />

  <var name="elec_parallel_temperature" gname="netcdf_flow(:,23)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_parallel_temperature" value="KeV" />

  <var name="elec_flow_shell_volume" gname="netcdf_flow(:,25)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_flow_shell_volume" value="m^3" />

  <var name="elec_delta-f_ratio" gname="netcdf_flow(:,24)" type="double" dimensions="samples" copy-on-write="yes"/>
  <attribute name="units" path="elec_delta-f_ratio" value="Unitless" />
  <gwrite src="endif"/>
</adios-group>

<adios-group name="diagnosis.bfield">
  <var name="nspace" type="integer"/>
  <var name="n_n" type="integer"/>
  <var name="values" gname="bfld" path="/node_data[0]" type="double" dimensions="3,n_n"/>
  <attribute name="nspace" path="/" var="nspace" type="integer"/>
  <attribute name="nnodes" path="/" var="n_n" type="integer"/>
  <attribute name="nnode_data" path="/" value="2" />
  <attribute name="XP_CLASS" path="/" value="Node_Data" />
  <attribute name="veclen" path="/node_data[0]/" value="3" />
  <attribute name="labels" path="/node_data[0]/" value="bfield" />
  <attribute name="units" path="/node_data[0]/" value="telsa" />
</adios-group>

<adios-group name="diagnosis.bfield.1">
  <var name="n_n" type="integer"/>
  <var name="values" gname="grid%psi" path="/node_data[1]" type="double" dimensions="n_n"/>
  <attribute name="veclen" path="/node_data[1]/" value="1" />
  <attribute name="labels" path="/node_data[1]/" value="poloidalflux" />
  <attribute name="units" path="/node_data[1]/" value="Tm^2" />
</adios-group>

<adios-group name="diag_pot.fieldp.header">
  <var name="nnode" type="integer"/>
  <var name="istep" type="integer"/>
  <var name="nspace" type="integer"/>
  <var name="nphi" type="integer"/>
  <attribute name="istep" path="/" var="istep" type="integer"/>
  <attribute name="nspace" path="/" var="nspace" type="integer"/>
  <attribute name="nnodes" path="/" var="nnode" type="integer"/>
  <attribute name="nnode_data" path="/" var="nphi" type="integer"/>
  <var name="values" gname="potential" path="/node_data[0]/" type="double" dimensions="nnode"/>

  <attribute name="labels" path="/node_data[0]/" value="potential_favg" />
  <attribute name="veclen" path="/node_data[0]/" value="nphi" />
  <attribute name="units" path="/node_data[0]/" value="V" />
</adios-group>

<adios-group name="diag_pot.fieldp" coordination-communicator="sml_pe_comm" >
  <var name="sml_pe_comm" type="integer"  />
  <var name="nnode" type="integer"/>
  <var name="nphi" type="integer"/>
  <gwrite src="if (sml_turb_efield==1) then"/>
  <var name="potential" gname="pot3d" type="double" dimensions="nnode,nphi"/>
  <gwrite src="endif"/>
</adios-group>

<adios-group name="fort.p">
  <var name="nnode" gname="grid%nnode" type="integer"/> 
  <var name="grid_x" gname="grid%x(:,:)" type="real*8" dimensions="2,nnode" copy-on-write="yes"/>
  <var name="psn_idensity" gname="psn%idensity(:,1)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="psn_dpot" gname="psn%dpot(:,1)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="psn_idensity0" gname="psn%idensity(:,1)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="psn_edensity0" gname="psn%dpot(:,1)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="psn_full" gname="psn%density0_full(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="psn_pot0" gname="psn%pot0(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <gwrite src="#ifdef XGC_DEBUG10"/>
  <var name="grid_node_vol" gname="grid%node_vol(:)*real(sml_nphi_total)" type="real*8" copy-on-write="yes" dimensions="nnode"/>
  <var name="grid_rtmp3" gname="grid%rtmp3(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="grid_rtmp4" gname="grid%rtmp4(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="grid_rtmp5" gname="grid%rtmp5(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="grid_rtmp6" gname="grid%rtmp6(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="grid_rtmp7" gname="grid%rtmp7(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <var name="grid_rtmp8" gname="grid%rtmp8(:)" type="real*8" dimensions="nnode" copy-on-write="yes"/>
  <gwrite src="#else"/>
  <var name="grid_node_vol" gname="grid%node_vol(:)*real(sml_nphi_total)" type="real*8" copy-on-write="yes" dimensions="nnode"/>
  <gwrite src="#endif"/>
</adios-group>

<method priority="3" method="MPI" iterations="100" group="restart"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.bfield"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.bfield.1"/>
<method priority="3" method="POSIX" iterations="100" group="diag_pot.fieldp.header"/>
<method priority="3" method="MPI" iterations="100" group="diag_pot.fieldp"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.flow"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.flux"/>
<method priority="3" method="POSIX" iterations="100" group="fort.tracer"/>
<method priority="3" method="POSIX" iterations="100" group="fort.gam"/>
<method priority="3" method="POSIX" iterations="100" group="fort.ef"/>
<method priority="3" method="POSIX" iterations="100" group="fort.60"/>
<method priority="3" method="POSIX" iterations="100" group="fort.50"/>
<method priority="3" method="POSIX" iterations="100" group="fort.61"/>
<method priority="3" method="POSIX" iterations="100" group="fort.30"/>
<method priority="3" method="POSIX" iterations="100" group="fort.pot_zero"/>
<method priority="3" method="POSIX" iterations="100" group="fort.used.eq"/>
<method priority="3" method="POSIX" iterations="100" group="fort.700"/>
<method priority="3" method="POSIX" iterations="100" group="fort.300.1"/>
<method priority="3" method="POSIX" iterations="100" group="fort.300.0"/>
<method priority="3" method="POSIX" iterations="100" group="fort.p"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.particleweight"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.mesh"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.particle"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi.1"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi.2"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi.3"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi.4"/>
<method priority="3" method="POSIX" iterations="100" group="diagnosis.fieldi.5"/>
<buffer size-MB="500" allocate-time="now"/>
<!-- or free-memory-percentage="90" allocate-time="oncall" -->
<!-- or free-memory-percentage="90" allocate-time="oncall" -->
</adios-config>
